[Local]
name=Master-bf
minWorkerRequired=1
logDir=.
logMaxFileSize=16777216
logMaxFileCount=8
logSeverity=2
monitorWorkerHeartbeat=1
defaultBatchingWait=0
[HTTP]
address=0.0.0.0
port=8080
[Aggregator]
wakeupInterval=100
[Database]
#address=tcp://127.0.0.1:6379
address=redisAddr_placeholder:redisPort_placeholder # tcp://evi-redis-standalone-master.smartedge-apps:6379#tcp://127.0.0.1:6379
dataSource=feature_storage
objectType=vehicle
timeBegin=1640657550000
timeEnd=1640658570000
allowedCaptureSourceIds=2
[RedisSentinels]
useSentinel=0
sentinelAddress=my-redis-redis-ha-announce-0
sentinelPort=26379
sentinelAddress=my-redis-redis-ha-announce-1
sentinelPort=26379
sentinelAddress=my-redis-redis-ha-announce-2
sentinelPort=26379
sentinelConnectionPoolSize=200
sentinelMasterName=mymaster

