# INTEL CONFIDENTIAL
#
# Copyright (C) 2022 Intel Corporation.
#
# This software and the related documents are Intel copyrighted materials, and your use of
# them is governed by the express license under which they were provided to you (License).
# Unless the License provides otherwise, you may not use, modify, copy, publish, distribute,
# disclose or transmit this software or the related documents without Intel's prior written permission.
#
# This software and the related documents are provided as is, with no express or implied warranties,
# other than those that are expressly stated in the License.

---
# Default values for fm-master.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

global:
  namespace:
    create: false
    value: fm
    istioInjection:
      create: false

istioInjection: true

configMap:
  name: evi-fm-master-bf
  redis:
    redisAddr: tcp://evi-redis-standalone-master.smartedge-apps
    redisPort: 6379

service:
  name: evi-fm-master-bf
  labels:
    value: evi-fm-master-bf

image:
  repository: fm-master
  version: master-c8d66502f0864e634a642d1062836050248fd81f
  pullPolicy: IfNotPresent
  containerPort: 8080

env:
  workerCount: 1
  timeBegin: 1640657550000
  timeEnd: 1640658570000
  allowedCaptureSourceIds: 2
